---
import Layout from '../layouts/Layout.astro'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>anotherpage</title>
	</head>
    <Layout title="idk">
	<body class="min-h-screen">
        <p> hello</p>

        <div class="sticky top-0 z-40 py-8 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white supports-backdrop-blur:bg-white/95 dark:bg-slate-900/75">
            <div class="container mx-auto flex flex-wrap justify-between">
            <a href="..">Valentin Ciolofan</a>
            
            <header class="flex justify-center gap-4">
                <a href="..">Home</a>
                <a href="#aboutme">About me</a>
                <a href="/blog/">Blog</a>
                <a href="#projects">Portofolio</a>
            </header>
            </div>
            </div>
	</body>
</Layout>
</html>
