<div class="divider"></div>

<style>
    .divider {
      width: 80%;
      height: 1px;
      background-color: #e0e0e0; /* Set the color of the divider */
      margin: -20px /* Adjust the margin as needed */
    }
  </style>
