---
import Social from '../components/Social.astro';
---

<footer class="flex flex-col py-12 bg-zinc-900">
  <div class="flex flex-col gap-4 items-center">
        <Social />
        <p class="text-xs">Copyright &copy; 2024 reserved Valentin Ciolofan</p>
    </div>
</footer>

