---
import Social from '../components/Social.astro';
---

<footer>
  <div class="footer">
        <p>&copy; All copyrights reserved 2024  </p>
        	<Social />
        <p>Contact: valentincatalin02@gmail.com</p>
    </div>
</footer>

<style>
 .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: 100F2E; /* 0A0917 kind of black*/
            color: #fff;
            padding: 20px;
        }
</style>
