<div class="header">

<span class="logo"> Valentin Ciolofan </span>

<header>
    <a href="#home">Home</a>
    <a href="#aboutme">About me</a>
    <a href="/blog/">Blog</a>
    <a href="#projects">Portofolio</a>
</header>
</div>

<style>
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

header {

}
a {
    padding: 32px 16px;
    color: #e7e1e1;
    font-size: 16px;
}
a:hover {
    color: #ffffff;
}

</style>