<div class="social-media-icons relative top-0">
    <a href="https://linkedin.com/in/valentinciolofan" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
     <a href="https://github.com/valentinciolofan" target="_blank"><i class="fa-brands fa-github"></i></a>
     <a href="https://www.instagram.com/valentin.ciolofan" target="_blank"><i class="fab fa-instagram"></i></a>
     <!-- Add more social media icons and links as needed -->
</div>

<style>
.social-media-icons {
         display: flex;
       
     }

     .social-media-icons a {
         text-decoration: none;
         margin-right: 10px;
         color: #fff;
         font-size: 1rem;
     }
     .social-media-icons a:hover {
         color: #3498db; /* Change the color on hover */
         transition: color 0.3s ease; 
     }

     /* Add a simple animation for the icons */
     @keyframes bounce {
         0%, 20%, 50%, 80%, 100% {
             transform: translateY(0);
         }
         40% {
             transform: translateY(-10px);
         }
         60% {
             transform: translateY(-5px);
         }
     }

     .social-media-icons a:hover i {
         animation: bounce 0.5s ease infinite; /* Apply the animation on hover */
     }
</style>